#cffi==1.11.5
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
imageio==2.3.0
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.15.0
opencv-python==4.2.0.34
pandas==0.23.4
Pillow==6.2.2
pycparser==2.18
pygit==0.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==5.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
toolz==0.9.0
#torch==1.0.0
#torchvision==0.2.1
tqdm==4.24.0
requests==2.23
face-alignment==1.0.0
pyfakewebcam==0.1.0
msgpack-numpy==0.4.5
pyzmq==19.0.0
#blosc==1.7.0
