apturl==0.5.2
asn1crypto==0.24.0
ast-tools==0.0.15
astor==0.8.1
attrs==17.4.0
beautifulsoup4==4.6.0
blinker==1.4
Brlapi==0.6.6
cairocffi==1.1.0
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
cloudpickle==0.5.3
colorlog==4.1.0
conda===conda-4.8.3
coreir==2.0.72
CoSA==0.4
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.17
dask==0.18.2
dataclasses==0.7
DeCiDa==1.1.5
decorator==4.3.0
defer==1.0.6
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
enum-compat==0.0.3
face-alignment==1.0.0
fault==3.0.12
feedparser==5.2.1
future==0.18.2
gmpy2==2.0.8
graphsurgeon==0.4.4
graphviz==0.14
html5lib==0.999999999
httplib2==0.9.2
hwtypes==1.3.6
idna==2.6
imageio==2.3.0
Jetson.GPIO==2.0.8
Jinja2==2.11.2
joblib==0.14.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
kratos==0.0.28
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
magma-lang==2.0.54
Mako==1.0.7
mantle==2.0.7
MarkupSafe==1.0
matplotlib==2.2.2
networkx==2.1
ninja==1.9.0.post1
numpy==1.18.4
oauth==1.0.1
oauthlib==2.0.6
p7magma==0.1.2
packaging==20.3
pandas==0.23.4
pbr==5.4.5
Pillow==6.2.2
pipdeptree==0.13.2
pluggy==0.6.0
protobuf==3.11.3
py==1.5.2
pycairo==1.16.2
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycups==1.9.73
pyfakewebcam==0.1.0
pygit==0.1
pygobject==3.26.1
PyJWT==1.5.3
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.2.0
pyRFC3339==1.0
PySMT==0.9.0
pytaglib==0.3.6
pytest==3.3.2
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.7.3
python-debian==0.1.32
pytz==2018.5
pyverilog==1.2.1
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==5.1
pyyaml-include==1.2
requests==2.23.0
requests-unixsocket==0.1.5
ruamel.yaml==0.15.34
scikit-build==0.11.0
scikit-image==0.16.2
scikit-learn==0.19.2
scipy==1.1.0
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
sklearn==0.0
ssh-import-id==5.7
staticfg==0.9.4
system-service==0.3
systemd-python==234
tagpy==2013.1
tensorrt==7.1.0.16
testresources==2.0.1
toolz==0.9.0
tqdm==4.24.0
typing==3.7.4.1
ubuntu-drivers-common==0.0.0
uff==0.6.7
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.22
urwid==2.0.1
wadllib==1.3.2
webencodings==0.5
xkit==0.0.0
z3-solver==4.8.7.0
zope.interface==4.3.2
