Cython==0.29.17
numpy==1.18.4
pyfakewebcam==0.1.0
scipy==1.1.0
tqdm==4.24.0
kiwisolver==1.0.1
python-dateutil==2.7.3
pytz==2018.5
cycler==0.10.0
six==1.11.0
pyparsing==2.2.0
matplotlib==2.2.2
networkx==2.1
Pillow==6.2.2
imageio==2.3.0
PyWavelets==0.5.2
decorator==4.3.0
scikit-image==0.16.2
pbr==5.4.5
testresources==2.0.1
launchpadlib==1.10.6
protobuf==3.11.3
uff==0.6.7
face-alignment==1.0.0
scikit-learn==0.19.2
joblib==0.14.1
sklearn==0.0